x-usage: &default-usage
  # Max Usage Limits
  mem_limit: ${MEM_LIMIT:-2G} # Override per container if necessary
  memswap_limit: ${MEM_SWAP_LIMIT:-2.5G}
  mem_reservation: ${MEM_RESERVATION:-64M}
  pids_limit: ${PIDS_LIMIT:-200}
  cpus: ${CPUS_LIMIT:-2} # Set below the total number of cores, for example 3.5 for 4 cores

x-restart: &default-restart
  # Restart Settings
  stop_grace_period: ${RESTART_GRACE:-1m}
  restart: ${RESTART_MODE:-unless-stopped}

x-security: &default-security
  # Configure User and Security Opts
  user: ${PUID:-1000}:${PGID:-1000}
  security_opt:
   - no-new-privileges=true

x-logging: &default-logging
  # Configure Logging
  logging:
    options:
      max-size: ${LOG_MAX_SIZE:-10m}
      max-file: ${LOG_MAX_FILE:-3}

x-base: &default-base
  <<: [*default-usage, *default-restart, *default-security, *default-logging]

x-healthcheck: &default-healthcheck
  interval: ${HEALTH_INTERVAL:-60s}
  timeout: ${HEALTH_TIMEOUT:-10s}
  retries: ${HEALTH_RETRIES:-5}
  start_period: ${HEALTH_START:-10s}

x-environment: &default-environment
  TZ: ${TZ:-America/Chicago}
  PUID: ${PUID:-1000}
  PGID: ${PGID:-1000}
 
# Compose Project Name
name: komodo

services:
  postgres:
    <<: [*default-usage, *default-restart, *default-logging]
    image: ghcr.io/ferretdb/postgres-documentdb:17
    container_name: ${COMPOSE_PROJECT_NAME}-${SERVER_NAME}-postgres
    # ports:
    #   - 5432:5432
    environment:
      <<: *default-environment
      POSTGRES_USER: ${KOMODO_DB_USERNAME}
      POSTGRES_PASSWORD: ${KOMODO_DB_PASSWORD}
      POSTGRES_DB: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    labels: ## Komodo Labels
      - "komodo.skip" # Prevent Komodo from stopping with StopAllContainers
    networks:
      - backend
    #healthcheck:
    #  test: ["CMD", "", ""]
    #  <<: *default-healthcheck

  ferretdb:
    <<: *default-base
    image: ghcr.io/ferretdb/ferretdb:2.7
    container_name: ${COMPOSE_PROJECT_NAME}-${SERVER_NAME}-ferretdb
    # ports:
    #   - 27017:27017
    environment:
      <<: *default-environment
      FERRETDB_POSTGRESQL_URL: postgres://${KOMODO_DB_USERNAME}:${KOMODO_DB_PASSWORD}@postgres:5432/postgres
    volumes:
      - ferretdb-state:/state
    labels: ## Komodo Labels
      - "komodo.skip" # Prevent Komodo from stopping with StopAllContainers
    networks:
      - backend
    depends_on:
      - postgres
    #  postgres:
    #    condition: service_healthy
    #healthcheck:
    #  test: ["CMD", "", ""]
    #  <<: *default-healthcheck


  core:
    <<: *default-base
    image: ghcr.io/moghtech/komodo-core:${COMPOSE_KOMODO_VERSION:-latest}
    hostname: ${COMPOSE_PROJECT_NAME}-${SERVER_NAME}.${DOMAIN_NAME}
    container_name: ${COMPOSE_PROJECT_NAME}-${SERVER_NAME}
    ports:
      - 9120:9120
    environment:
      <<: *default-environment
      KOMODO_DATABASE_ADDRESS: ferretdb:27017
      KOMODO_DATABASE_USERNAME: ${KOMODO_DB_USERNAME}
      KOMODO_DATABASE_PASSWORD: ${KOMODO_DB_PASSWORD}
      KOMODO_PASSKEY: ${KOMODO_PASSKEY}
      KOMODO_TITLE: ${KOMODO_TITLE:-Komodo}
      KOMODO_HOST: ${COMPOSE_PROJECT_NAME}.${DOMAIN_NAME}
    volumes:
      - ./komodo-config/core.config.toml:/config/config.toml:ro
      - ./komodo-data/backups:/backups
      - ./komodo-data/sync:/syncs
      - ./komodo-data/repo-cache:/repo-cache
    labels: ## Traefik Labels
      - "traefik.enable=true"
      - "traefik.docker.network=${TRAEFIK_NETWORK}"
        ## HTTP Routers
      - "traefik.http.routers.$COMPOSE_PROJECT_NAME-rtr.rule=Host(`${COMPOSE_PROJECT_NAME}.${DOMAIN_NAME}`) || Host(`${COMPOSE_PROJECT_NAME}-${SERVER_NAME}.${DOMAIN_NAME}`)"
        ## HTTP Services
      - "traefik.http.services.$COMPOSE_PROJECT_NAME-svc.loadbalancer.server.port=9120"
      ## Komodo Labels
      - "komodo.skip" # Prevent Komodo from stopping with StopAllContainers
    networks:
      - frontend
      - backend
    depends_on:
      - ferretdb
    #  ferretdb:
    #    condition: service_healthy
    ## Allows for systemd Periphery connection at 
    ## "https://host.docker.internal:8120"
    ##extra_hosts:
    ##  - host.docker.internal:host-gateway
    #healthcheck:
    #  test: ["CMD", "", ""]
    #  <<: *default-healthcheck

volumes:
  # Postgres
  postgres-data:
    name: ${COMPOSE_PROJECT_NAME}_postgres_data
  # FerretDB
  ferretdb-state:
    name: ${COMPOSE_PROJECT_NAME}_ferretdb_data

networks:
  frontend:
    name: traefik_public
    external: true
  backend:
    internal: true
